<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>#1 Template Basic</title>
</head>
<body>
    <!-- The visible content of your web page goes here -->
    <h1>Template Basic</h1>

    <!-- this is a 1st comment -->
     {% comment %} this is a 2nd comment {% endcomment %}
     {#this is 3rd comment#}
    <p>My first paragraph.</p>

    {% comment %} Single variable  {% endcomment %}
    <p>Name :{{name}}</P>
    <p>Age :{{age}}</P>

      {% comment %} list Access {% endcomment %}
      <p>First Skill {{skill.0}}</p>
      <p>First Skill {{skill}}</p>
{% comment %} 
      object name {% endcomment %}
        <p>User Name {{user.name}}</p>
      <p>User Age {{user.age}}</p>

      {% comment %} disct {% endcomment %}
    <h2>Blog Inforamtion</h2>
      <p>title :{{blog.title}}</p>
      <p>Create At: {{blog.created_at}}</p>
      <p>content: {{blog.content| safe}}</p>

      {% comment %} default value {% endcomment %}
          <p>default: {{empty_value| default:"No value provided"}}</p>
          <p>default: {{empty_value| default_if_none:"No data"}}</p>
</body>
</html>
